<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Inzayt</title>
  <link rel="stylesheet" type="text/css" href="/public/css/commit.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>
  </style>
</head>
<body>

  <form action="">
    <label>¿A que te comprometes?</label>
    <input type="text" placeholder =" Meta / proyecto / accion ">

    <label>¿Para cuando?</label>
    <input type="date">

    <input class="bottom" type="submit" value="Yo me comprometo">
  </form>


  <form action="">

    <label>Te comprometiste a:</label>
    <label class='actived'>  Meta / proyecto / accion </label>

    <label>Para ..</label>
    <label class='actived date'>  14 </label>
    <label class='actived date'>  09 </label>
    <label class='actived date'>  2015 </label>

    <progress value="1" max="10" ></progress>

    <input type="submit" class="bottom si"  name="Lo cumpli" value="Si lo cumplí">
    <input type="submit" class="bottom no"  name="No lo cumpli" value="No lo cumplí">
  </form>

</body>
</html>
