<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Inzayt</title>
  <link rel="stylesheet" type="text/css" href="/public/css/commit.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="/public/js/jquery-1.9.1.min.js"></script>
  <script src="/public/js/app.js"></script>
</head>
<body>

  <form id="create-form">
    <input id="user" type="hidden" value="{{.user}}">
    <label>¿A que te comprometes?</label>
    <input type="text" name="description" placeholder =" Meta / proyecto / accion " required>

    <label>¿Para cuando?</label>
    <input type="date" name="date" required>

    <input id="create-button" class="bottom" type="submit" value="Yo me comprometo">
  </form>

  <form id="show-form">

    <label>Te comprometiste a:</label>
    <label class='actived' id="description">  Meta / proyecto / accion </label>

    <label>Para ..</label>
    <label class='actived date' id="day">  14 </label>
    <label class='actived date' id="month">  09 </label>
    <label class='actived date' id="year">  2015 </label>

    <progress value="1" max="10" ></progress>

    <input id="complete-button" type="submit" class="bottom si"  name="Lo cumpli" value="Si lo cumplí">
    <input id="discard-button" type="submit" class="bottom no"  name="No lo cumpli" value="No lo cumplí">
  </form>

</body>
</html>
